.rect {
  /* content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: yellow; */
  /* clip-path: ; */
  margin-top: 2rem;
  max-height: 500px;
  @apply rounded-3xl after:absolute after:inset-0 after:size-full after:rounded-[inherit]  after:object-cover after:blur-lg max-lg:aspect-video max-ssm:aspect-square ssm:rounded-[3rem] lg:h-[500px];
  position: relative;
  color: #fff;
}

.rect::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #000;
  opacity: 0.2;
}

.rect:after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.4) 25%
  );
}
