.asterisk {
  @apply text-sm text-shade-300;
}

.amenityGrid {
  @apply grid gap-5 mx-auto w-full justify-center xxs:grid-cols-2 ssm:grid-cols-3 2xl:grid-cols-3;
}

.fieldsInlineGap {
  @apply gap-x-5 max-sm:gap-y-8;
}

.fieldsBlockGap {
  @apply gap-y-8;
}

.fieldsSectionWrapper {
  @apply flex flex-col gap-10
}

.formTitle {
  @apply w-fit
}

.subHeadingFieldsContainer {
  @apply flex flex-col gap-4;
}

.title,
.titleNoMargin {
  font-size: 1.5625rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 1024px) {
    font-size: 1.35rem;
    line-height: 28px;
  }
}

.titleNoMargin {
  margin-bottom: 0;
}

.titleCallOutContainer {
  @apply mb-10 flex w-full flex-col gap-8;
}
