.shapeLeft {
    clip-path: polygon(0% 0%, 0% 81%, 38% 81%, 59% 100%, 100% 81%, 100% 0);
}

.shapeLeft2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    height: 10rem;
    width: 70vw;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.shapeRight {
    clip-path: polygon(0% 0%, 0 100%, 41% 100%, 62% 81%, 100% 81%, 100% 0);
}

/* .shapeRight2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    height: 10rem;
    width: 70vw;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
} */

.rectangle {
    clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
}



/* MEDIA QUERIES */

@media (max-width: 560px) {
    .shapeLeft {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }

    .shapeRight {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}

@media (max-width: 640px) {
    .rectangle {
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    }
}