@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family:
    var(--font-open-sans) var(--font-open-sans-remote) Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}

.faq-items .faq-title {
  border-bottom-width: 1px;
}

.faq-items div div .faq-title:last-child {
  border-bottom-width: 0;
}

@layer base {
  h1 {
    @apply max-w-3xl text-3xl font-bold sm:text-6xl;
  }

  h2 {
    @apply max-w-3xl text-[1.563rem] font-[600] leading-[2.2rem];
  }

  h3 {
    @apply max-w-3xl text-xl font-[600];
  }

  h4 {
    @apply max-w-3xl text-base font-[600];
  }

  h5 {
    @apply max-w-3xl text-sm font-[600];
  }

  small {
    @apply block max-w-3xl text-sm;
  }

  li,
  a:not(a[role="button"]),
  div {
    @apply focus:outline-accent-50;
  }
}

.green-gradient {
  background: linear-gradient(
    103deg,
    #21a19f 38.96%,
    rgba(30, 169, 166, 0.63) 90.07%
  );
}

.grid-auto-min-200 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.shape-3 {
  clip-path: polygon(10% 0, 0 20%, 0 100%, 90% 100%, 100% 80%, 100% 0);
}

.Toastify__toast-container {
  @apply flex flex-wrap items-center justify-center;
}

/* to be removed after temporary landing page */
.Toastify__close-button {
  display: none !important;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

@layer components {
  .form-field-border {
    @apply border border-neutral-400 hover:border-black/50;
  }

  .form-input {
    @apply form-field-border rounded-md px-3 py-4 focus:outline-accent-50;
  }

  .form-textarea {
    @apply form-field-border rounded-md px-3 py-4 focus:outline-accent-50;
  }

  .gradient-to-bottom {
    @apply bg-gradient-to-b from-primary-500 to-primary-400/80;
  }

  .light-green-hover {
    @apply hover:bg-primary-300/20;
  }

  .deep-green-hover {
    @apply hover:bg-primary-300/50;
  }

  .menu-bg {
    @apply bg-primary-900 before:pointer-events-none before:fixed before:-left-64 before:top-28 before:h-[50rem] before:w-[50rem] before:rounded-full before:bg-primary-200 before:opacity-[0.12] after:pointer-events-none after:fixed after:-right-64 after:-top-60 after:hidden after:h-[45rem] after:w-[50rem] after:rounded-full after:bg-primary-200 after:opacity-[0.12] after:lg:block;
  }

  .overlay {
    @apply relative before:absolute before:inset-0 before:h-full before:w-full before:bg-primary-500/60;
  }

  .overlay-rounded {
    @apply relative before:absolute before:inset-0 before:z-10 before:h-full before:w-full before:rounded-2xl before:bg-gradient-to-b before:from-primary-500/60 before:to-primary-500/50;
  }

  .section {
    @apply pt-28;
  }

  .skeleton-wrapper-swiper {
    @apply grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3;
  }

  .skeleton-wrapper-grid {
    @apply mx-auto grid grid-cols-1 justify-center gap-x-5 gap-y-16 md:grid-cols-2 lg:grid-cols-3;
  }

  .skeleton-wrapper-flex {
    @apply flex gap-5 overflow-x-auto;
  }

  .skeleton-wrapper-flex > div {
    @apply min-w-60;
  }

  .wrapper {
    @apply mx-auto max-w-screen-3xl px-5 pb-8 pt-12 sm:pb-14 lg:px-10;
  }
}

.PhoneInputInput {
  @apply form-field-border rounded-md px-3 py-4 focus:outline-accent-50;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  /* border-right: 1px solid #8a8a8a; */
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

/* :focus {
  @apply outline-accent-50;
} */

/* @media (min-width: 640px) { // wrapper has paddings. section is solely for separating top and bottom sections 
  .section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
} */

/* Printing interface style */
@media print {
  @page {
    size: A4;
  }

  button {
    display: none;
  }

  .print-content {
    grid-template-columns: 1;
  }

  .no-print {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .lg-hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
@media screen and (min-width: 1024px) {
  .lg-hidden-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
