@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.faq-items .faq-title {
  border-bottom-width: 1px;
}

.faq-items div div .faq-title:last-child {
  border-bottom-width: 0;
}

h1 {
  @apply text-3xl font-bold sm:text-6xl;
}

h2 {
  @apply text-[1.563rem] font-[600] leading-[2.2rem];
}

h3 {
  @apply text-xl font-[600];
}

h4 {
  @apply text-base font-[600];
}

h5 {
  @apply text-sm font-[600];
}

small {
  @apply block text-sm;
}

.gradient-to-bottom {
  @apply bg-gradient-to-b from-primary-500 to-primary-400/80;
}

.green-gradient {
  background: linear-gradient(
    103deg,
    #21a19f 38.96%,
    rgba(30, 169, 166, 0.63) 90.07%
  );
}

.grid-auto-min-200 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.menu-bg {
  @apply bg-primary-900 before:pointer-events-none before:fixed before:-left-64 before:top-28 before:h-[50rem] before:w-[50rem] before:rounded-full before:bg-primary-200 before:opacity-[0.12] after:pointer-events-none after:fixed after:-right-64 after:-top-60 after:hidden after:h-[45rem] after:w-[50rem] after:rounded-full after:bg-primary-200 after:opacity-[0.12] after:lg:block;
}

.overlay {
  @apply relative before:absolute before:inset-0 before:h-full before:w-full before:bg-primary-500/60;
}

.overlay-rounded {
  @apply relative before:absolute before:inset-0 before:z-10 before:h-full before:w-full before:rounded-2xl before:bg-gradient-to-b before:from-primary-500/60 before:to-primary-500/50;
}

.PhoneInputInput {
  @apply rounded-md border px-3 py-4 shadow-sm hover:border-black/50 focus:border-black focus:outline-none;
}

.section {
  @apply pt-28;
}

.shape-3 {
  clip-path: polygon(10% 0, 0 20%, 0 100%, 90% 100%, 100% 80%, 100% 0);
}

.skeleton-flex {
  display: grid;
  grid-auto-flow: column;
  overflow-x: hidden;
  gap: 1.25rem;
}

.skeleton-flex > div {
  width: 15rem;
  min-width: 15rem;
}

.skeleton-grid {
  display: flex;
  gap: 1.25rem;
  overflow-x: hidden;
}

.skeleton-grid > div {
  width: 22rem;
  min-width: 22rem;
}

.Toastify__toast-container {
  @apply flex items-center justify-center;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.wrapper,
.wrapper-2 {
  @apply mx-auto max-w-screen-3xl px-5 pb-8 pt-12 sm:pb-14 lg:px-10;
}

.wrapper-2 {
  @apply px-5 sm:px-5;
}

.wrapper-section {
  @apply mx-auto max-w-screen-3xl px-5 pb-0 pt-28 sm:px-10 sm:pb-0;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  /* border-right: 1px solid #8a8a8a; */
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

@media (min-width: 640px) {
  .skeleton-flex {
    width: 22rem;
    min-width: 22rem;
  }
  .skeleton-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .skeleton-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* Printing interface style */
@media print {
  @page {
    size: A4;
  }

  button {
    display: none;
  }

  .print-content {
    grid-template-columns: 1;
  }

  .no-print {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .lg-hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
@media screen and (min-width: 1024px) {
  .lg-hidden-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
