.addMoreImagesButton {
  @apply pointer-events-none border-shade-200 px-3 text-shade-200;
}
.amenityGrid {
  @apply grid w-full gap-5 xxs:grid-cols-2 sm:grid-cols-3 lg:grid-cols-4;
}

.asterisk {
  @apply text-sm text-shade-300;
}

.card {
  @apply w-full min-w-[280px] flex-1 space-y-3 max-lg:max-w-xs;
}

.cardLink {
  @apply relative block aspect-video w-full rounded-lg;
}

.cardImage {
  @apply rounded-[inherit] object-cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fieldsInlineGap {
  @apply gap-x-5 max-sm:gap-y-8;
}

.fieldsBlockGap {
  @apply gap-y-8;
}

.formTitle {
  @apply w-fit;
}

.highlightWrapper {
  @apply grid items-center gap-10 md:grid-cols-2;
}

.highlightBulletText {
  @apply flex flex-col gap-4;
}

.highlightTitle {
  @apply text-2xl max-md:mt-5 sm:text-4xl;
}

.highlightBullet {
  @apply animate-bounce;
}

.highlightImageWrapper {
  @apply relative aspect-square max-h-[200px] w-full md:max-h-[500px];
}

.highlightImage {
  @apply rounded-3xl object-cover;
}

.marginBlockWide {
  margin-block: 3rem;
}

.title,
.titleNoMargin {
  @apply capitalize;
  font-size: 1.5625rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 1024px) {
    font-size: 1.35rem;
    line-height: 28px;
  }
}

.titleNoMargin {
  margin-bottom: 0;
}

.titleCallOutContainer {
  @apply mb-10 flex w-full flex-col gap-8;
}

.subHeading {
  @apply font-normal;
}

.subHeadingFieldsContainer {
  @apply flex flex-col gap-4;
}

.subHeadingGap {
  @apply space-y-4;
}
