.paginationMenu {
  @apply fixed inset-0 z-50 h-screen max-h-screen space-y-14 overflow-y-auto bg-menu-lg bg-cover bg-no-repeat p-10 shadow-2xl;
  transition: all 1.4s ease;
}

.paginationMenuHidden {
  clip-path: circle(0 at 100% 0);
}

.paginationMenuVisible {
  clip-path: circle(150% at 100% 0);
}
