.paginationMenu {
  @apply fixed inset-0 z-[9999] h-[100svh] max-h-[100svh] space-y-14 overflow-y-auto bg-menu-lg bg-cover bg-no-repeat p-10 shadow-2xl;
  transition: clip-path 1.4s;
}

.paginationMenuHidden {
  clip-path: circle(0 at 100% 0);
}

.paginationMenuVisible {
  clip-path: circle(150% at 100% 0);
}
