.paginationMenu {
  @apply fixed inset-0 z-[9999] h-screen max-h-screen space-y-14 overflow-y-auto bg-cover bg-no-repeat p-10 shadow-2xl;
  transition: clip-path 1.4s;
}

.paginationMenuHidden {
  clip-path: circle(0 at 100% 0);
}

.paginationMenuVisible {
  clip-path: circle(150% at 100% 0);
}

.visibleMobileSearch {
  /* transform: initial; */
  @apply visible translate-y-full;
}

.hiddenMobileSearch {
  transform: scaleY(0);
  @apply -translate-y-full;
  /* padding: 0; */
  /* margin: 0; */
  /* height: 0; */
  visibility: hidden;
  opacity: 0;
}
